
<app-hud-display-led device="'ledSTATE'" />
<app-hud-display-temp device="'sensorSTATE'"/>

<!--
<div class="box">

<div class="columns is-desktop">
  <div#col0 class="column">
  </div>
  <div#col1 class="column">

  </div>
  <div#col2 class="column">

  </div>
  <div#col3 class="column">

  </div>
</div>

<div class="columns is-desktop">
  <div class="column">

  </div>
  <div class="column">

  </div>
  <div class="column">

  </div>
  <div class="column">

  </div>
</div>

</div>


-->
