<footer class="footer">
  <div class="content has-text-centered">
    <p>
      the <strong>Cortex IOT</strong> stack by <a href="https://drorydesign.com"> Ethan Drory </a> of Odax Systems.
    </p>
  </div>
</footer>
